<div class="container">
  <h3>Edit {{ selectedAnimal.name }}</h3>

  <form class="form clearfix">

    <div class="form-group">
      <label for="name" class="label">Name</label>
      <input type="text" class="input" name="name" [(ngModel)]="selectedAnimal.name">
    </div>

    <div class="form-group">
      <label for="species" class="label">Species</label>
      <input type="text" class="input" name="species" [(ngModel)]="selectedAnimal.species">
    </div>

    <div class="form-group">
      <label for="id" class="label">Image Url</label>
      <input type="text" class="input" name="imageUrl" [(ngModel)]="selectedAnimal.imageUrl">
    </div>

    <button type="submit" class="button update-button" (click)="this.updateAnimal()">Update</button>
  </form>

</div>