<div class="container">

  <img src="{{ selectedAnimal.imageUrl }}" alt="{{ selectedAnimal.name }}">
  <div class="animal-detail-card clearfix">
    <h2>
      <b>{{ selectedAnimal.name }}</b>
      <button class="button adopt-button" (click)="adoptAnimal()">Adopt</button>
      <hr>
    </h2>
    <h4>{{ selectedAnimal.species }}</h4>
    <h4>{{ selectedAnimal.gender }}</h4>
    <p>{{ selectedAnimal.description }}</p>

    <button class="button edit-animal" (click)="editAnimal()">Edit</button>
    <button class="button delete-animal" (click)="deleteAnimal()">Delete</button>

  </div>

  <button class="button" (click)="showAllAnimals()">back to animals</button>

</div>