<div class="container">

  <img src="{{ selectedAnimal.imageUrl }}" alt="{{ selectedAnimal.name }}">
  <div class="animal-detail-card clearfix">
    <h3>
      {{ selectedAnimal?.name }}
      <hr>
    </h3>
    <b>Species: </b>{{ selectedAnimal?.species }}
    <b>Sex: </b>{{ selectedAnimal?.gender }}
    <p>
      <i>{{ selectedAnimal?.description }}</i>
    </p>
    <div class="buttons">
      <button *ngIf="isAnimalAvailable" class="button" (click)="showNewAdopterModal()">Adopt</button>
      <button class="button button-yellow" (click)="editAnimal()">Edit</button>
      <button class="button button-red" (click)="showConfirmDeleteModal()">Delete</button>
    </div>

  </div>

</div>

<app-new-adopter-modal *ngIf="isNewAdopterModalVisible" [animal]="selectedAnimal"></app-new-adopter-modal>
<app-confirm-delete-modal *ngIf="isConfirmDeleteModalVisible" [animal]="selectedAnimal"></app-confirm-delete-modal>