.animal-detail-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.animal-detail-card {
    width: 50%;
    box-shadow: 0 4px 4px 0  #08090A;
    border-radius: 5px;
    background-color: white;
    transition: .2s;
    margin-top: 16px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right:auto;
    padding:18px;
}

.container img {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    object-fit: scale-down;
}
.animal-detail-card .container {
    padding-bottom: 4px;
    max-width: 100%;
    flex-direction: column;
}
.center {
    display: block;
    margin: 0 auto;
}
.animal-detail-container {
    padding-right: 15px;
    padding-left: 15px;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}
.button-yellow {
    background-color: #E8C547
}

.button-blue {
    background-color: #688FCF
}
.button-red {
    background-color: #E84136
}