<div class="container">

  <img src="{{ selectedAnimal.imageUrl }}" alt="{{ selectedAnimal.name }}">
  <div class="animal-detail-card clearfix">
    <h2>
      <b>{{ selectedAnimal?.name }}</b>

      <hr>
    </h2>
    <h4>{{ selectedAnimal?.species }}</h4>
    <h4>Sex: {{ selectedAnimal?.gender }}</h4>
    <p>
      <i>{{ selectedAnimal?.description }}</i>
    </p>
    <div class="modal-footer">
      <button class="button button-blue" (click)="showNewAdopterModal()">Adopt</button>
      <button class="button button-yellow" (click)="editAnimal()">Edit</button>
      <button class="button button-red" (click)="showConfirmDeleteModal()">Delete</button>
    </div>

  </div>

  <button type="button" class="button" (click)="showAllAnimals()">back to animals</button>

</div>

<app-new-adopter-modal *ngIf="isNewAdopterModalVisible" [animal]="selectedAnimal"></app-new-adopter-modal>
<app-confirm-delete-modal *ngIf="isConfirmDeleteModalVisible" [animal]="selectedAnimal"></app-confirm-delete-modal>