nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #FDEB6C;
    border-radius: 3px;
}
.navbar-container {
    margin-top: 4px;
}
.navbar-link {
    text-decoration: none;
    color: inherit;
    height: 30px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-link:hover {
    border-left: 1px solid black;
    border-radius: 5px;
    border-right: 1px solid black;
    opacity: 0.7;
    transition: 0.1s;
}