<nav>
  <div class="dropdown">
    <label for="" (click)="toggleDropdown()">Filter by:</label>
    <!-- <select [(ngModel)]="isAdoptedFilter" class="dropdown-select" (ngModelChange)="onChange($event)"> -->
    <!-- <input type="checkbox"> -->
    <!-- <option *ngFor="let filter of filters" [ngValue]="filter" class="option">{{filter}}</option> -->
    <!-- </select> -->
    <div *ngIf="isAnimalFilterDropdownShown" class="filters-dropdown">
      <div *ngFor="let filterType of filterOptionTypes">
        <div class="dropdown-title">
          <b>{{ filterType.displayName }}</b>
        </div>
        <div *ngFor='let filter of filterType.options' (click)="toggleFilter( filterType.name, filter )" class="dropdown-item">{{ filter }}</div>
      </div>
    </div>
  </div>
  <a class="navbar-link" (click)='newAnimal()'>New Animal</a>
</nav>