<div class="container">
  <form (ngSubmit)="createAnimal()" class="form" [formGroup]="newAnimalForm">
    <h3 class="form-heading">Register a New Animal</h3>

    <div class="form-group">
      <input type="text " class="input " required name="name" formControlName="name" placeholder="name">
    </div>

    <div class="form-group">
      <input type="text " class="input " formControlName="species" name="species" placeholder="species">
    </div>

    <div class="form-group">
      <select class="dropdown-select" formControlName="gender" name="gender" [ngClass]="{'valid': newAnimalForm['controls'].gender.value}">
        <option [defaultSelected]="sexes" hidden disabled>Sex</option>
        <option *ngFor="let sex of sexes" [value]="sex">{{sex}}</option>
      </select>
    </div>

    <div class="form-group">
      <input type="text " class="input" formControlName="imageUrl" name="imageUrl" placeholder="imageUrl">
    </div>

    <div class="buttons">
      <button class="button" type="button" (click)="createAnimal()">Submit</button>
    </div>

  </form>
</div>