<div class="side-bar container">
  <i>Filter By:</i>

  <div class="filter-options">
    <label class="filter-title">Gender</label>
    <label *ngFor="let filter of filterOptionsGender">
      <input type="radio" [checked]="currentGenderFilter === filter" value="{{filter}}" (click)="applyGenderFilter(filter)"> {{ filter | titlecase}}
    </label>
  </div>

  <div class="filter-options">
    <label class="filter-title">Adoption Status</label>
    <label *ngFor="let filter of filterOptionsAdoptionStatus">
      <input type="radio" [checked]="currentAdoptionFilter === filter" value="{{filter}}" (click)="applyAdoptionFilter(filter)"> {{ filter | titlecase}}
    </label>
  </div>

  <div class="dropdown">
    <label class="filter-title">Species</label>
    <div class="filters-dropdown">
      <div class="filter-selection" *ngFor="let filter of filterOptionsSpecies" (click)="applySpeciesFilter(filter)">
        <i class="far fa-square" *ngIf="!isSpeciesFilterSelected(filter)"></i>

        <i class="fas fa-check" *ngIf="isSpeciesFilterSelected(filter)"></i>
        {{ filter | titlecase }}
      </div>
    </div>
  </div>

</div>