.side-bar {
    background-color: white;
    width: auto;
    border-radius: 1px;
    padding: 16px;
    margin-top: 32px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: 32px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}
.filter-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}
.filters-dropdown {
    display: flex;
    flex-direction: column;
}
.filter-selection {
    display: flex;
    justify-content: space-between;
}
.dropdown {
    padding: 12px;
}
.filter-title {
    padding-bottom: 6px;
    font-weight: bold;
}
label:hover {
    cursor: pointer;
    opacity: .7;
}
