<div class="overlay">

  <div class="modal">
    <div class="container">


      <form (ngSubmit)="createAdoption()" class="form clearfix" [formGroup]="newAdopterForm">
        <h3 class="form-heading">Adopter Information for {{ currentAnimal.name }}</h3>
        <div class="form-group">
          <!-- <label for="firstName">First Name</label> -->
          <input type="text" class="input" required formControlName="firstName" name="firstName" placeholder="First Name">
        </div>

        <div class="form-group">
          <!-- <label for="lastName">Last Name</label> -->
          <input type="text" class="input" formControlName="lastName" name="lastName" placeholder="Last Name" autocomplete="off">
        </div>

        <div class="form-group">
          <input type="text" class="input" formControlName="address" name="address" placeholder="Address" autocomplete="off">
        </div>

        <div class="form-group">
          <input type="text" class="input" formControlName="city" name="city" placeholder="City" autocomplete="off" a>
        </div>

        <div class="form-group">
          <input type="text" class="input" formControlName="state" name="state" placeholder="State" autocomplete="off">
        </div>

        <div class="form-group">
          <input type="text" class="input" formControlName="postalCode" name="postalCode" placeholder="Zip" autocomplete="off">
        </div>

        <div class="form-group">
          <input type="text" class="input" formControlName="phoneNo" name="phoneNo" placeholder="Phone Number" autocomplete="off">
        </div>

        <div class="buttons">
          <button type="button" class="cancel-adoption-button button" (click)="closeModal()">Cancel</button>
          <button type="button" class="new-adopter-button button" (click)="createAdoption()">Submit</button>
        </div>

      </form>

    </div>
  </div>

</div>