<div class="overlay">

  <div class="modal">
    <div class="container">

      <h3>Adopter Information</h3>

      <form ngSubmit="createAdopter()" class="form clearfix">

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="input" required [(ngModel)]="newAdopter.firstName" name="firstName">
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="input" [(ngModel)]="newAdopter.lastName" name="lastName">
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="input" [(ngModel)]="newAdopter.address" name="address">
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="input" [(ngModel)]="newAdopter.city" name="city">
        </div>

        <div class="form-group">
          <label for="state">State</label>
          <input type="text" class="input" [(ngModel)]="newAdopter.state" name="state">
        </div>

        <div class="form-group">
          <label for="zipcode">Zip</label>
          <input type="text" class="input" [(ngModel)]="newAdopter.zipcode" name="zipcode">
        </div>

        <div class="form-group">
          <label for="phoneNo">Phone</label>
          <input type="text" class="input" [(ngModel)]="newAdopter.phoneNo" name="phoneNo">
        </div>

      </form>

    </div>
  </div>

</div>