<div class="overlay">
    <div class="modal">
        <div class="container">
            <form class="form" [formGroup]="userForm" (ngSubmit)="createNewUser()">
                <h3>Sign Up</h3>
                <div class="form-group">
                    <input type="text" formControlName="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" formControlName="userName" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="text" formControlName="phoneNo" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" formControlName="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" placeholder="Confirm Password">
                </div>

                <div class="buttons">
                    <button class="button" (click)="closeSignUpModal()">Cancel</button>
                    <button class="button" (click)="createNewUser()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>