/* You can add global styles to this file, and also import other style files */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.heading {
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
    font-size: 2.5em;
    color: #FD9D25;
    text-shadow: 2px 2px #08090A;
    text-align: center;
}
.header { 
    background-color: #51219B;
    height: 5em;
    padding: 1px;
    box-shadow: 0 4px 4px 0 #08090A;
    vertical-align: middle;
    border-radius: 5px;
}
.animal-container  { 
    display: flex;
}