/* You can add global styles to this file, and also import other style files */
body {
    background-color: #FAF2F3;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 840px) {
    .first-letter {
        font-size: 2rem !important;
    }
    .heading {
        font-size: 2rem !important;
        line-height: inherit !important;
    }
}
.heading {
    display: inline-block;
    font-family: 'Rammetto One', cursive;
    font-style: italic;
    font-size: 3rem;
    color: #D0452D;
    text-shadow: 5px 5px 5px #08090A;
    line-height: 20px;
}
.header {
    background-color: #381D2A;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}
.first-letter {
    font-size: 4rem;
}
.card {
    width: 16em;
    height: 24em;
    box-shadow: 0 4px 4px 0  #08090A;
    border-radius: 5px;
    background-color: white;
    transition: .2s;
    margin-top: 16px;
    margin-bottom: 10px;
}
.card:hover {
    box-shadow: 0 8px 16px 0  #08090A;
    cursor: pointer;
}
.card img {
    border-radius: 5px 5px 0 0;
    width: 16em;
    height: 16em;
    object-fit: scale-down;
}
.card .container {
    padding-bottom: 4px;
    max-width: 100%;
}
.button {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #FFD275;
}